body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(115, 248, 6, 0.445);
    /* padding: 10px 0px; */
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
}

header h1{
    color: rgb(41, 5, 247);
    font-size: 200%;
    margin-bottom: 0px;
    padding: 17px 42px;

}

header nav{
    margin: 0px;
    display: flex;
    /* flex-direction: row; */
    /* background-color:rgb(167, 224, 217) ; */
    padding: 50px 0px;
    overflow: hidden;
}

header nav div {
    padding: 0px 50px;
    height: auto;
    
}

header nav div a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    font-size: 20px;
}

header nav div a:hover{
    color: red;
    /* background-color: #070000; */
}

header nav div a:active{
    color: rgb(245, 6, 225);
    /* background-color: chartreuse; */
}

/* Main Content */

.container {
    /* border: 1px solid red; */
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px; /* its apply in grid for gap betwwen content*/
}

.container div{
    /* border: 1px solid rgb(22, 21, 21); */
    width: auto;
    padding: 10px;
    height: 65vh;
    /* overflow: scroll; */

}

.main-content div{
    overflow-y: scroll;
    /* border: 1px solid rgb(255, 0, 221); */
    width: auto;
    height: 80%;
    background-color: rgb(113, 185, 185);

}

.side-content {
    border-left: 1px solid rgb(68, 11, 224);
}
.side-content ul {
    margin: 0;
    padding: 0px 0px;
}

.side-content ul li{
    text-align: center;
    list-style: none;
    margin: 5px 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    padding: auto;
    border-bottom: 1px solid rgb(7, 89, 241);
    /* border-width: 90%; */
    color: brown;
}

/* Footer Start with here  */

footer{
    /* border: 1px solid blue; */
    width: 100%;
    /* padding: 5px 5px 0; */
    height: auto;
    background-color: rgba(115, 248, 6, 0.445);

}

footer div p {
    padding: 0px 100px;
    color: rgb(24, 81, 236);
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

#contact {
    float: left;
}

#product {
    float: left;
}

#newsletter {
    float: right;
}

#footer-title{
    background-color: #8ea739;
    clear: both;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}


#footer-title h5{
    margin: 0;
}


/* newsletter */

.newsletter {
    margin: auto;
    padding: 10px;
    height: 50vh;
    border: 1px solid black;
    border-top: 1rem solid blue;
    border-bottom: 1rem solid blue;
}

.newsletter div h3 {
    font-weight: 600;
    letter-spacing: 1px;
    /* margin: 10px auto; */
    margin-left: 42%;
}

.newsletter div form{
    width: 300px;
    margin: 10px auto;
}

form div {
    margin: 10px 0;
}

label {
    padding: 10px;
    width: 200px;
    font-weight: 500;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: 16px;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

#button {
    background-color: #079df3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
}